{% extends 'accounts/main.html' %}

{% block content %}
  <br>
  <div class="container">
    <p><strong>Are you sure you want to delete this order? </strong></p>

    <table class="table table-sm">
      <tr>
        <th>Product</th>
        <th>Date Orderd</th>
        <th>Status</th>
        <th>Orderd By</th>
      </tr>

      <tr>
        <td>{{ item }}</td>
        <td>{{ date_created }}</td>
        <td>{{ status }}</td>
        <td>{{ customer }}</td>
      </tr>
    </table>

    <form action="{% url 'delete_order' id %}"method="POST">
      {% csrf_token %}
      <a class="btn btn-secondary" href={% url 'dashboard' %} role="button">Go Back</a>
      <button class="btn btn-outline-danger" type="submit" name="button" value="Confirm">Confirm</button>
    </form>

  </div>


{% endblock content %}
